<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="The website of Pripet project.">
  <meta name="author" content="Misaki Asaka <misaki.asaka@grauwoelfchen.net>">
  <meta name="keywords" content="Webfont">
  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico', _external=True)}}">
  <link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48 64x64 96x86 128x128 192x192" href="/favicon.ico">
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{url_for('static', filename='img/touch-icon-180.png')}}">
  <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{{url_for('static', filename='img/touch-icon-167.png')}}">
  <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{url_for('static', filename='img/touch-icon-152.png')}}">
  <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="{{url_for('static', filename='img/touch-icon-120.png')}}">
  <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="{{url_for('static', filename='img/touch-icon-76.png')}}">
  <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="{{url_for('static', filename='img/touch-icon-57.png')}}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='img/favicon-192.png')}}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{url_for('static', filename='img/favicon-128.png')}}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='img/favicon-96.png')}}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{url_for('static', filename='img/favicon-64.png')}}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{url_for('static', filename='img/favicon-48.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16.png')}}">
  <link rel="humans" type="text/plain" href="{{url_for('static', filename='humans.txt')}}">
  <link rel="robots" type="text/plain" href="{{url_for('static', filename='robots.txt')}}">
  <style>body{background-color:#ffffff;}</style>
  {% block body %}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
